<div  class="modal fade bs-example-modal-lg" id="modalDisapproveTask" tabindex="-1" role="dialog" data-keyboard = 'false' data-backdrop = 'static' aria-labelledby="modalViewLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalLabelDisapproveTask">Disapprove Task</h4>
      </div>

      <div class="modal-body my-modal-body">
          <div class="my-ceter modal-loading-disapprove-task" style="display: none"><i class="fa fa-spin fa-refresh fa-5x center-block"></i></div>
        <div class="info-disapprove-task">
            <p id="p-desapprove-task"></p>
            <p id="p-desapprove-assigned-to"></p>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div>
                            <label>Notes</label>:
                        </div>
                        <div>
                            <textarea id="notes-disapprove-task" name="notes-disapprove-task" class="form-control" rows="4"></textarea>
                        </div>
                    </div>
                </div>
            </div>
           <input type="hidden" id="task_id_disapprove" name="task_id">
        </div>
      </div>
      <div class="modal-footer">
         <a  id="a-modalDisapproveTask" href="#" type="button" class="btn btn-primary">Disapprove Task</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>