<button type='button' class='btn btn-info btn-sm' data-toggle='popover' title='Description' {{ inactive }} data-content='{{ description }}'><span class='fa fa-file-text-o'></span></button>
<script>
    $('[data-toggle="popover"]').popover({
        placement : 'top',
        trigger : 'hover'
    });
</script>