{% extends "::layout_email.html.twig" %}
{% block title 'Recover your password in Taskit' %}
{% block email_content %}
    <table>
        <tr>
            <td>
                <h3>Hi, {{ name }}</h3>
                <p class="lead">Your Taskit password has been reset. If you did not initiate this change please contact us immediately.</p>
                <p>To create a new password and sing into your account, follow the instructions below:</p>
                <br/>
                <p>1. Your one-time passcode is: <b>{{ code }}<b>.</p>
                <p><i>Note: The Security Access Code is time sensitive</i>.</p>
                <p>2. Enter it immediatily on the screen where you were prompted.</p>
                <p>3. Enter and submit the Security Access Code along.</p>
                <p>4. Choose a new password.</p>
                <p><i>To help protect yourself from fraudulent access, change your password every thirty (30) days, and do not write down your new password or share with anyone</i>.</p>

                <!-- Callout Panel -->
                <!--<p class="callout">
                    To visit your account clic in here <a href="http://taskit.cubaarchive.org">Taskit! &raquo;</a>
						</p>--><!-- /Callout Panel -->

                <!-- social & contact -->
                <table class="social" width="100%">
                    <tr>
                        <td>

                            <!-- column 1 -->
                            <table align="left" class="column">
                                <tr>
                                    <td>
                                        <h5 class="">Contact Info:</h5>
                                        <p>Phone: <strong>973.701.0520</strong><br/>
                                            Email: <strong><a href="emailto:info@CubaArchive.org">info@CubaArchive.org</a></strong></p>




                                    </td>
                                </tr>
                            </table><!-- /column 1 -->

                            <!-- column 2 -->
                            <table align="left" class="column">
                                <tr>
                                    <td>


                                        <p>Address: <strong>P.O. Box 612224</strong><br/>
                                            <strong>North Miami FL 33261-2224</strong>


                                    </td>
                                </tr>
                            </table><!-- /column 2 -->

                            <span class="clear"></span>

                        </td>
                    </tr>
                </table><!-- /social & contact -->

            </td>
        </tr>
    </table>
{% endblock %}

